.nike-bg{
    background-color: #FFF9F4 ;
    
}
.nr{
    color: #FA804C;
    font-weight: 600;
    font-size: 60px;
}
.nike-hero{
    color: #363958;
    font-weight: 600;
    font-size: 60px;
}
.nike-h1{
    color: #363958;
    font-weight: 500;
    font-size: 50px;
}
.nike-card{
    color: #363958;
    font-weight: 600;
    font-size: 35px;
}
.nike-footer-h3{
    color: #363958;
    font-weight: 600;
    font-size: 20px;
}
.f-p{
    color: black;
    font-size: 15px;
    
}
